-#%h1 Welcome#login_page
-#%p Find me in app/views/welcome/login_page.html.haml

%h1 College Daily

-# ***************************************
-# Add explanatory and appealing text here!
-# Users must have GitHub account, name and email must be publicly available on profile
-# Site should only be available to users who have signed in with valid suny binghamton id
= link_to 'Sign In', login_path
        
