%footer.footer
  .container
    .col.col-sm-2
      = link_to 'Log Out', logout_path  
    .col.col-sm-10
      %p.text-muted CollegeDaily is being developed by the Fall 2018 CS-445/545 batch of Binghamton University.