%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "./"} CollegeDaily
    // %img{:src => "https://i.imgur.com/9vn88vw.png"}/
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "#"}
            Home
            %span.sr-only (current)
        %li
          %a{:href => "#"} Events
        %li
          %a{:href => "#"} About
        %li
          %a{:href => "#"} Contact
      %ul.nav.navbar-nav.navbar-right
        %li.greeting
          %span
            Hi, #{@user.name.camelcase(:upper)}
        %li
          = link_to 'Log Out', logout_path
    / /.navbar-collapse
  / /.container-fluid