= render 'header'
.hero.container-fluid
  .row
    .col.col-sm-6
      %img{:alt => "CollegeDaily", :src => "https://i.imgur.com/9vn88vw.png"}/
    .col.col-sm-6
      %p
        CollegeDaily is a central hub for official and unofficial college events. 
        %br/
        It offers students 3 services:
        %br/
        %span 1. Registering for B-Line events
        %br/
        One stop for all club information. Consolidated for a more effective user experience. 
        Data will be scraped from B-Line & B-Engaged and displayed on a platform that allows event 
        scheduling, event management, and additional features such as reminders or future notifications.
        %br/
        %span 2. Creating and Registering for outdoor events
        %br/
        Connects Binghamton University students on College Daily who are looking to do activities on and off 
        campus. Students can post an event for a trip they want to go on with a description of the activity, 
        date, location, and carpooling options. Other students can sign up for this event on College Daily. 
        %br/
        %span 3. Creating and Registering for study sessions
        %br/
        Connect students with fellow students who want to find study groups, and/or people who are looking for 
        tutoring.Users sign up and can navigate to sections in their subjects/courses at a university and post 
        “Advertisements” to create study groups/sessions or users post that they need help in a certain course 
        or topic and other users can provide assistance

= render 'list_events'
    
= render 'footer'    
